<%= form_for(@settlement, url: {action: :update_settlement}) do |f| %>
	<%= f.hidden_field :id %>
<p>
	<%= f.label '标题' %><br/>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label '备注' %><br/>
	<%= f.text_area :comment %>
</p>

<p>
	<%= f.submit '修改' %>
</p>

<% end %>

<div>
	<table>
	<% @settlement.transactions.each do |transaction| %>
	<tr>
				<td><%= transaction.id %></td>
        <td><%= transaction.transaction_source_type %></td>
        <td><%= transaction.transaction_source_id %></td>
        <td><%= transaction.account_type %></td>
				<td>
					<%= transaction.sender_type %>
					<%= " : " + transaction.sender.name if transaction.sender %>
				</td>
				<td>
					<%= transaction.receiver_type %>
					<%= " : " + transaction.receiver.name if transaction.receiver %>
				</td>
        <td><%= transaction.comment %></td>
        <td><%= transaction.sn %></td>
        <td><%= transaction.money %></td>
        <td><%= transaction.money_sign %></td>
        <td><%= transaction.status %></td>
	</tr>
	<% end %>
</table>
</div>
<div>
	<label>
		合计:
		<span><%= @settlement.money_sign %></span>
		<span><%= @settlement.money %></span>
	</label>
	<button data-id='<%= @settlement.id %>'>完成</button>
</div>
<script>
$('button').bind('click', function(){
	var id = $(this).data('id');
	$.ajax({
		url: '/transact/complete_settlement',
		type: 'post',
		data: {id: id}
	}).done(function(){
		window.location.reload();
	})
})
</script>
