<h1>折扣卡列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>类型</th>
      <th>Discount</th>
      <th>是否记录</th>
      <th>是否送出</th>
      <th>总金额</th>
      <th>有效期自</th>
      <th>结束时间</th>
      <th>可用次数</th>
      <th>已使用次数</th>
      <th>状态</th>
      <th>创建时间</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.name %></td>
        <td><%= coupon.type %></td>
        <td><%= coupon.discount %></td>
        <td><%= coupon.logged %></td>
        <td><%= coupon.shipping %></td>
        <td><%= coupon.total %></td>
        <td><%= coupon.date_start.strftime('%Y%m%d') %></td>
        <td><%= coupon.date_end.strftime('%Y%m%d') %></td>
        <td><%= coupon.uses_total %></td>
        <td><%= coupon.uses_customer %></td>
        <td><%= coupon.status %></td>
        <td><%= coupon.date_added.strftime('%Y%m%d') %></td>
        <td><%= link_to '查看', coupon %></td>
        <td><%= link_to '修改', edit_coupon_path(coupon) %></td>
        <td><%= link_to '删除', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建新的折扣卡', new_coupon_path %>
