<%= form_for(@coupon_product) do |f| %>
  <% if @coupon_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon_product.errors.count, "error") %> prohibited this coupon_product from being saved:</h2>

      <ul>
      <% @coupon_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coupon_id %><br>
    <%=select("coupon_product", "coupon_id", @coupons.collect {|p| [ p.name, p.coupon_id ] }, {:selected => (params[:action] == 'new' ? "" : @coupon_product.coupon_id ) ,include_blank: "选择折扣券"},{:class => 'form-control',:id=>'coupon_product_coupon_id'})%>
    <%#= f.number_field :coupon_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
