<%= form_for(@template_to_shop) do |f| %>
  <% if @template_to_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template_to_shop.errors.count, "error") %> prohibited this template_to_shop from being saved:</h2>

      <ul>
      <% @template_to_shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_id %><br>
    <%= f.number_field :shop_id %>
  </div>
  <div class="field">
    <%= f.label :template_id %><br>
    <%= f.number_field :template_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
