<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice no:</strong>
  <%= @order.invoice_no %>
</p>

<p>
  <strong>Invoice prefix:</strong>
  <%= @order.invoice_prefix %>
</p>

<p>
  <strong>Store:</strong>
  <%= @order.store_id %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @order.store_name %>
</p>

<p>
  <strong>Store url:</strong>
  <%= @order.store_url %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Customer group:</strong>
  <%= @order.customer_group_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @order.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @order.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @order.telephone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @order.fax %>
</p>

<p>
  <strong>Payment firstname:</strong>
  <%= @order.payment_firstname %>
</p>

<p>
  <strong>Payment lastname:</strong>
  <%= @order.payment_lastname %>
</p>

<p>
  <strong>Payment company:</strong>
  <%= @order.payment_company %>
</p>

<p>
  <strong>Payment company:</strong>
  <%= @order.payment_company_id %>
</p>

<p>
  <strong>Payment tax:</strong>
  <%= @order.payment_tax_id %>
</p>

<p>
  <strong>Payment address 1:</strong>
  <%= @order.payment_address_1 %>
</p>

<p>
  <strong>Payment address 2:</strong>
  <%= @order.payment_address_2 %>
</p>

<p>
  <strong>Payment city:</strong>
  <%= @order.payment_city %>
</p>

<p>
  <strong>Payment postcode:</strong>
  <%= @order.payment_postcode %>
</p>

<p>
  <strong>Payment country:</strong>
  <%= @order.payment_country %>
</p>

<p>
  <strong>Payment country:</strong>
  <%= @order.payment_country_id %>
</p>

<p>
  <strong>Payment zone:</strong>
  <%= @order.payment_zone %>
</p>

<p>
  <strong>Payment zone:</strong>
  <%= @order.payment_zone_id %>
</p>

<p>
  <strong>Payment address format:</strong>
  <%= @order.payment_address_format %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong>Payment code:</strong>
  <%= @order.payment_code %>
</p>

<p>
  <strong>Shipping firstname:</strong>
  <%= @order.shipping_firstname %>
</p>

<p>
  <strong>Shipping lastname:</strong>
  <%= @order.shipping_lastname %>
</p>

<p>
  <strong>Shipping company:</strong>
  <%= @order.shipping_company %>
</p>

<p>
  <strong>Shipping address 1:</strong>
  <%= @order.shipping_address_1 %>
</p>

<p>
  <strong>Shipping address 2:</strong>
  <%= @order.shipping_address_2 %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @order.shipping_city %>
</p>

<p>
  <strong>Shipping postcode:</strong>
  <%= @order.shipping_postcode %>
</p>

<p>
  <strong>Shipping country:</strong>
  <%= @order.shipping_country %>
</p>

<p>
  <strong>Shipping country:</strong>
  <%= @order.shipping_country_id %>
</p>

<p>
  <strong>Shipping zone:</strong>
  <%= @order.shipping_zone %>
</p>

<p>
  <strong>Shipping zone:</strong>
  <%= @order.shipping_zone_id %>
</p>

<p>
  <strong>Shipping address format:</strong>
  <%= @order.shipping_address_format %>
</p>

<p>
  <strong>Shipping method:</strong>
  <%= @order.shipping_method %>
</p>

<p>
  <strong>Shipping code:</strong>
  <%= @order.shipping_code %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status.name %>
</p>

<p>
  <strong>Affiliate:</strong>
  <%= @order.affiliate_id %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @order.commission %>
</p>

<p>
  <strong>Language:</strong>
  <%= @order.language_id %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @order.currency_id %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @order.currency_code %>
</p>

<p>
  <strong>Currency value:</strong>
  <%= @order.currency_value %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @order.ip %>
</p>

<p>
  <strong>Forwarded ip:</strong>
  <%= @order.forwarded_ip %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @order.user_agent %>
</p>

<p>
  <strong>Accept language:</strong>
  <%= @order.accept_language %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @order.date_added %>
</p>

<p>
  <strong>Date modified:</strong>
  <%= @order.date_modified %>
</p>

<p>
  <strong>Shipping option:</strong>
  <%= @order.shipping_option_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address_id %>
</p>

<p>
  <strong>Order sn:</strong>
  <%= @order.order_sn %>
</p>

<p>
  <strong>Payment sn:</strong>
  <%= @order.payment_sn %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
