<%= form_for(@certificate) do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :promotion_id %>
    <%= f.hidden_field :foo_type %>
    <%= f.hidden_field :customer_id %>

  <div class="field">
    <%= f.label '选择券' %><br>
		<%= f.select :foo_id, @certificate.foo_for_select.collect{|t|[t.name + " | " + t.value, t.id]} %>
  </div>
  <div class="actions">
    <%= f.submit '添加' %>
  </div>
<% end %>
