<h1>用户属性值</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Profile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_values.each do |profile_value| %>
      <tr>
        <td><%= profile_value.name %></td>
        <td><%= profile_value.alias %></td>
        <td><%= profile_value.profile_id %></td>
        <td><%= link_to 'Show', profile_value,:class=>"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_profile_value_path(profile_value),:class=>"btn btn-default" %></td>
        <td><%= link_to 'Destroy', profile_value, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile value', new_profile_value_path,:class=>"btn btn-default" %>
