<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>来源</th>
      <th>来源ID</th>
			<th>相关店铺</th>
      <th>Account type</th>
			<th>付款人</th>
			<th>收款人</th>
      <th>Comment</th>
      <th>Sn</th>
      <th>Money</th>
      <th>Money sign</th>
      <th>Status</th>
      <!-- <th></th>
      <th></th> -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
				<td><%= link_to transaction.id, transaction %></td>
        <td><%= transaction.transaction_source_type %></td>
        <td><%= transaction.transaction_source_id %></td>
				<td><%= transaction.order.shop.name %></td>
        <td><%= transaction.account_type %></td>
				<td>
					<%= transaction.sender_type %>
					<%= " : " + transaction.sender.name if transaction.sender %>
				</td>
				<td>
					<%= transaction.receiver_type %>
					<%= " : " + transaction.receiver.name if transaction.receiver %>
				</td>
        <td><%= transaction.comment %></td>
        <td><%= transaction.sn %></td>
        <td><%= transaction.money %></td>
        <td><%= transaction.money_sign %></td>
        <td><%= transaction.status %></td>
        <!-- <td><%= link_to '查看', transaction %></td>
        <td><%= link_to '编辑', edit_transaction_path(transaction) %></td> -->
        <td>
					<!-- <a href='/transactions/pay?id=<%= transaction.id %>'>Pay</a> -->
					<% unless transaction.hnz_receive? || transaction.settlement? || transaction.complete? %>
						<% if transaction.paid? %>
							<a class="paid btn btn-default" data-id="<%= transaction.id %>">拒付</a>
						<% else %>
							<a class="unpaid btn btn-default" data-id="<%= transaction.id %>">支付</a>
						<% end %>
					<% end %>
			<%#= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @transactions %>

<script type="text/javascript">

$('.paid').bind('click', function(){
	var id = $(this).data('id');
	var answer = window.confirm('确认拒付 ?');
	if(answer == true){
		$.ajax({
			url: '/transactions/unpay',
			data: {id: id},
			dataType: 'json'
		}).done(function(){
			window.location.reload();
		});
	}
});

$('.unpaid').bind('click', function(){
	var id = $(this).data('id');
	var answer = window.confirm('确认支付 ?');
	if(answer == true){
		$.ajax({
			url: '/transactions/pay',
			data: {id: id},
			dataType: 'json'
		}).done(function(){
			window.location.reload();
		});
	}
});

</script>
