<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Transaction source type</th>
      <th>Transaction source</th>
      <th>Account type</th>
      <th>Store</th>
      <th>Comment</th>
      <th>Sn</th>
      <th>Money</th>
      <th>Money sign</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_source_type %></td>
        <td><%= transaction.transaction_source_id %></td>
        <td><%= transaction.account_type %></td>
        <td><%= transaction.store_id %></td>
        <td><%= transaction.comment %></td>
        <td><%= transaction.sn %></td>
        <td><%= transaction.money %></td>
        <td><%= transaction.money_sign %></td>
        <td><%= transaction.status %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
