<h1>活动列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>活动名称</th>
      <th>有效期至</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.name %></td>
        <td><%= promotion.failed_at.strftime('%Y-%m-%d') %></td>
        <td><%= link_to '查看', promotion %></td>
        <td><%= link_to '修改', edit_promotion_path(promotion) %></td>
        <td><%= link_to '删除', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建活动', new_promotion_path %>
